# Local Test Scripts
.sandbox/
# Secrets and Variables, ex. CobaltSession Cookie
.env
# Local Test Scripts
.examples/
# VS Code Settings, Extensions, and Launch Configurations
.vscode/
# User will need to run `npm install` to get the dependencies
node_modules/
# Omit Extracted Source Files
src/sources/**/*.md
src/sources/test_scripts/
test_*.cjs
*.md
